---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic dTM1MGl6TWFrS1pTQzdhSWhKazY5a2pXbTp4Zlh6d1RlcXRsYVpTdnNkOE15azJvQkFYbmMzZXp1RVJJeDduT1p6NFp5cGU3Y2E0dA==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 26 Oct 2016 02:32:26 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 313417658eb4c78e8682907cabbeda2c
      X-Response-Time:
      - '32'
      X-Transaction:
      - 00fdef8200036657
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAMduxgAAAAAAs%2FYHK5y4eMya8vdgtP6pwxnsf8w%3DGvj8SQILTArZfyMkFIDGmbdLZboWtj0qxVJmkttFmZbun5yrPU"}'
  recorded_at: Wed, 26 Oct 2016 02:32:28 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=25&screen_name=@fuentesjr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAMduxgAAAAAAs%2FYHK5y4eMya8vdgtP6pwxnsf8w%3DGvj8SQILTArZfyMkFIDGmbdLZboWtj0qxVJmkttFmZbun5yrPU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 26 Oct 2016 02:32:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9ef9ee31f486009dec561ced0d23bd2e
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1499'
      X-Rate-Limit-Reset:
      - '1477450047'
      X-Response-Time:
      - '145'
      X-Transaction:
      - 00d3f2860087df1e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Sep 13 05:38:10 +0000 2016","id":775569239465877504,"id_str":"775569239465877504","text":"@oreng
        Nope. Go has its own niche ... cloud\/network services mainly. It''s Elixir
        and Phoenix that''s killing node https:\/\/t.co\/VwvBym07FI","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"oreng","name":"oreng","id":8399312,"id_str":"8399312","indices":[0,6]}],"urls":[{"url":"https:\/\/t.co\/VwvBym07FI","expanded_url":"http:\/\/elixir-lang.org\/","display_url":"elixir-lang.org","indices":[113,136]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":775530730860392448,"in_reply_to_status_id_str":"775530730860392448","in_reply_to_user_id":8399312,"in_reply_to_user_id_str":"8399312","in_reply_to_screen_name":"oreng","user":{"id":30763293,"id_str":"30763293","name":"Salvador
        Fuentes Jr.","screen_name":"fuentesjr","location":"Los Angeles, CA","description":"tube
        engineer","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":42,"friends_count":34,"listed_count":3,"created_at":"Mon
        Apr 13 00:46:31 +0000 2009","favourites_count":85,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":125,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/121951283\/bg.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/121951283\/bg.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1157676130\/mean_mofo_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1157676130\/mean_mofo_normal.jpg","profile_link_color":"CC3300","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F7DA93","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Sep 12 21:30:01 +0000 2016","id":775446391229251584,"id_str":"775446391229251584","text":"@oreng
        Node is dead ... which leads to the rise of the Phoenix","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"oreng","name":"oreng","id":8399312,"id_str":"8399312","indices":[0,6]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eMobile Web (M5)\u003c\/a\u003e","[...]
