/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.as-item {
  margin: 0 2px 0 2px;
}

#tweetbox-shadow {
  box-shadow: 1px 1px 1px #888888;
}

#activity-stream {
  margin-bottom: 15px
}
#activity-stream > h4 {
  margin-bottom: 0px
}

#app-header {
  margin-bottom: 20px;
}
